.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  cursor: pointer;
  border-bottom: 3px solid var(--primary);
}

.questionRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.question {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 17px;
  width: 80%;
}

.expandButton {
  position: absolute;
  right: 0;
  bottom: -5px;
  transform: scale(2);
}

.expandIcon {
  font-size: 20px;
  z-index: 10;
  user-select: none;
  transform: translateX(-1px);
  transition: all 0.3s;
  line-height: 0px;
}

.expandedExit {
  font-size: 20px;
  z-index: 10;
  user-select: none;
  transform: rotate(45deg);
  transition: all 0.3s;
  line-height: 0px;
}

.descriptionRow {
  padding-bottom: 20px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.descriptionRowHidden {
  height: 0;
  color: var(--highlight);
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .expandButton {
    bottom: 13px;
  }
}
