.icon {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 30px;
  font-weight: 400;
  margin: 50px;
}

.link:hover {
  font-weight: 700;
  transition: all 0.5s;
}
