.home h2 {
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 30px;
  margin: 0;
}

.home section {
  padding: 40px;
  background-color: var(--primary);
}

.headerTitle {
  height: 100%;
  margin-bottom: 5vw;
}

.bandImage {
  position: absolute;
  top: 36%;
  width: 30vw;
  height: auto;
  user-select: none;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.headerH1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 300px;
  width: 100%;
}

.the {
  position: absolute;
  top: 0;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 2vw;
  text-align: center;
}

.wildfire {
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 11vw;
  letter-spacing: 4vw;
}

.headerTitle {
  position: relative;
  height: calc(100vw / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .about {
  background-color: var(--highlight);
  width: 100vw;
}

.about > p,
.packages > p {
  padding: 10px 10vw;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 28px;
}

.packages {
  position: relative;
  width: 100%;
  padding: 20px;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(-20px);
  gap: 30px;
  margin: 40px 50px 0 50px;
}

.packageCard {
  aspect-ratio: 1 / 1.8;
  user-select: none;
  width: 17vw;
  min-width: 250px;
  border: 5px solid white;
  padding: 0 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.packageCard:hover {
  color: var(--primary);
  transform: scale(1.02);
  background-color: var(--highlight);
  transition: all 0.6s;
}

.packageCard > h3 {
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 500;
  height: 25%;
  line-height: 40px;
}

.packageCard > p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
}

.packageMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-20px);
}

.packageMessage > h3 {
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 30px;
  font-weight: 400;
  margin: 50px 0 0 0;
}

.packageMessage > p,
.contactInfo {
  text-align: center;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 24px;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  padding: 0 100px;
  margin-top: 20px;
  transform: translateX(-20px);
}

.quoteTitle {
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-size: 19px;
}

.quote p {
  letter-spacing: 1.5px;
  font-size: 15px;
  text-align: justify;
}

.quote h4 {
  letter-spacing: 1px;
  margin-bottom: -10px;
}

.quote {
  width: 350px;
}

.contact,
.contactInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contactInput {
  margin-top: 30px;
}

.topRowInputs,
.bottomRowInputs {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.topRowInputs > input,
.bottomRowInputs > input,
.bottomRowInputs > select {
  border-style: none;
  height: 30px;
  width: 200px;
  border-radius: 0;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white;
  font: openSans;
}

.contactInput > textarea {
  margin-top: 10px;
  width: 400px;
  height: 200px;
  background-color: var(--highlight);
  padding: 10px;
  font: arial;
}
