.background {
  background-color: #ff6f61;
}

.headSection,
.tagSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerSection {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer {
  width: 350px;
  height: 250px;
  background-color: #ff6f61;
  border-radius: 30px;
  margin: 40px 20px;
}

.title {
  position: absolute;
  right: 2%;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5px;
}
